#activty .container > h3 {
    color: var(--text-secondary-color) !important;
}

#activty .row .index {
    opacity: 0.8;
    padding: 13px 20px;
    line-height: 0%;
    border-radius: 50%;
    max-height: 50px;
    z-index: 2;
    background-color: var(--primary-color) !important;
    color: var(--secondary-color) !important;
    font-weight: bold;
}

#activty .card * {
    background-color: var(--secondary-color) !important;
}

#activty .card {
    border-radius: 1.5rem;
    box-shadow: 0px 8px 56px rgb(15 80 100 / 16%);
    border: 2px solid var(--text-secondary-color) !important;
    transition: box-shadow .2s linear,opacity .2s linear;
    transition: transform 0.2s;
}

#activty .card .card-body {
    border-radius: 1.5rem;
    padding: 2rem;
}

@media all and (max-width:768px) {
    #activty .card .card-body {
        padding: 2rem 1rem;
    }
}

#activty .card:hover {
    transition: 0.3s;
    box-shadow: 0 4px 11px rgb(15 80 100 / 16%);
    border: 2px solid var(--primary-color) !important;
}

#activty .card .card-body .activty-content a {
    color: var(--text-link-color) !important;
    text-decoration: none;
    opacity: 0.9;
}

#activty .card .card-body > a h6 {
    display: inline-block;
    text-decoration: none;
    color: var(--text-link-color) !important;
}

#activty .card .card-body > a h6::after {
    content: "";
    display: block;
    width: 0px;
    height: 2px;
    bottom: 0.37em;
    background-color: var(--primary-color);
    transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
    opacity: 0.5;
}

#activty .card .card-body > a h6:hover::after, #activty .card .card-body > a h6:focus::after, #activty .card .card-body > a h6:active::after {
    width: 100%;
}

#activty .card .card-body a.btn {
    opacity: 0.9;
    border: 1px solid var(--primary-color) !important;
    color: var(--text-color) !important;
    border-radius: .75rem;
    box-shadow: none;
    transition: none;
}

#activty .card .card-body a.btn:hover {
    opacity: 0.8;
}