{{ define "head" }}
<meta name="description" content="{{ .Title }} of {{ .Site.Title }}">
<link rel="stylesheet" href="{{ .Site.Params.staticPath }}/css/list.css" media="all">
{{ end }}

{{ define "title" }}
{{.Title }} | {{ .Site.Title }}
{{ end }}

{{ define "main" }}
<div class="container pt-5" id="list-page">
    <h2 class="text-center pb-2">{{.Title}}</h2>
    <div class="col">
        {{ range .Paginator.Pages }}
        <a href="{{ .Permalink }}">
            <div class="summary border p-3">
                <div class="text-gray-900 font-bold text-xl mb-2">{{ .Title }}</div>
                <p>{{ .Description }}</p>
                <p class="text-sm text-gray-600 items-center">
                    {{ .Date | time.Format ":date_long" }}
                </p>
            </div>
        </a>
        {{ end }}
        <div class="row justify-content-center">
            <div class="col-auto m-3">
                {{template "_internal/pagination.html" . }}
            </div>
        </div>
    </div>
</div>
{{ end }}
